.weather-card {
  background-color: #e0f2f7; /* Bleu très clair comme fond */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  font-family: sans-serif;
  color: #333; /* Couleur de texte principale */
}

.location-info {
  text-align: center;
  margin-bottom: 15px;
}

.city {
  font-size: 2em;
  color: #1976d2; /* Bleu plus soutenu pour la ville */
  margin-bottom: 5px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature-container {
  font-size: 3em;
  color: #2196f3; /* Bleu principal pour la température */
  margin-bottom: 10px;
}

.temperature {
  font-weight: bold;
}

.description-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.weather-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.description {
  font-size: 1.2em;
  color: #1e88e5; /* Autre nuance de bleu pour la description */
}

.additional-info {
  text-align: center;
  color: #555;
}

.additional-info p {
  margin: 5px 0;
}